{% extends 'basic.html' %} {% block body %}

<body>
    <!-- Shopping Cart Section Begin -->
    <section class="checkout-section spad">
        <div class="container">
            <form action='/PlaceOrder/' method="POST" class="checkout-form">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <a href="#" class="content-btn">Click Here To Login</a>
                        </div>
                        <h4>Biiling Details</h4>
                        <div class="row">
                            <div class="col-lg-6">
                                <label for="fir">First Name<span>*</span></label>
                                <input type="text" name='firstname' id="fir">
                            </div>
                            <div class="col-lg-6">
                                <label for="last">Last Name<span>*</span></label>
                                <input type="text" name='lastname' id="last">
                            </div>
                            <!-- <div class="col-lg-12">
                                <label for="cun-name">Company Name</label>
                                <input type="text" name='' id="cun-name">
                            </div> -->
                            <div class="col-lg-12">
                                <label for="cun">Country<span>*</span></label>
                                <input type="text" name='country' id="cun">
                            </div>
                            <div class="col-lg-12">
                                <label for="street">Street Address<span>*</span></label>
                                <input type="text" id="street" name='street' class="street-first">
                                <input type="text" name='street2'>
                            </div>
                            <div class="col-lg-12">
                                <label for="zip">Postcode / ZIP (optional)</label>
                                <input type="text" name='zipcode' id="zip">
                            </div>
                            <div class="col-lg-12">
                                <label for="town">Town / City<span>*</span></label>
                                <input type="text" name='city' id="town">
                            </div>
                            <div class="col-lg-6">
                                <label for="email">Email Address<span>*</span></label>
                                <input type="text" name='email' id="email">
                            </div>
                            <div class="col-lg-6">
                                <label for="phone">Phone<span>*</span></label>
                                <input type="text" name='phone' id="phone">
                            </div>
                            <!-- <div class="col-lg-12">
                                <div class="create-item">
                                    <label for="acc-create">
                                        Create an account?
                                        <input type="checkbox" id="acc-create">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="checkout-content">
                            <input type="text" id='HandleCoupon' name='coupen' placeholder="Enter Your Coupon Code">
                        </div>
                        <div class="place-order">
                            <h4>Your Order</h4>
                            <div class="order-total">
                                <ul class="order-table" id='order'>
                                    <!-- loop Here -->
                                </ul>
                                <!-- <div class="payment-check">
                                    <div class="pc-item">
                                        <label for="pc-check">
                                            Cheque Payment
                                            <input type="checkbox" id="pc-check">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                    <div class="pc-item">
                                        <label for="pc-paypal">
                                            Paypal
                                            <input type="checkbox" id="pc-paypal">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div> -->
                                <div class="order-btn">
                                    <!-- {% load static %}
                                    <button type="submit" class="site-btn place-btn" id='PlaceOrderbtn'>Place Order</button>-->
                                    <div id="paypal-button-container"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
</body>
{% endblock %}

</html>
{% block Js %}

<!-- Include the PayPal JavaScript SDK -->
<script src="https://www.paypal.com/sdk/js?client-id=AWKE3yuJO4DiTxyutLbFlflJ0L9K_AMuGKyItJlVNtF1M17TfvT2di-pwP_xNs3xuIkrCjNGQb1V27wX&currency=USD"></script>
<script>
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Set up the transaction
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: '0.01'
                    }
                }]
            });
        },

        // Finalize the transaction
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Show a success message to the buyer
                console.log(details)
                alert('Transaction completed by ' + details.payer.name.given_name + '!');
            });
        }
    }).render('#paypal-button-container');
</script>
<script>
    if (localStorage.getItem('cart' == null)) {
        var cart = {}
    } else {
        var cart = JSON.parse(localStorage.getItem('cart'));
        loadOrder(cart);
    }
    $('#HandleCoupon').on('input', function(e) {
        let coupen = $('input[name=coupen]').val();
        e.preventDefault();
        $.ajax({
            url: '/Shopcart/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'coupen': coupen,
            },
            encode: true,
        }).done(function(data) {
            d = JSON.parse(data);
            cart = JSON.parse(localStorage.getItem('cart'))
            for (let crt in cart) {
                for (let i = 0; i < d.length; i++) {
                    if (d[i]['id'] == crt.slice(3)) {
                        cart[crt][5] = d[i]['discount'];
                        localStorage.setItem('cart', JSON.stringify(cart));
                        loadOrder(cart);
                    }
                }
            }
        })
    })
    $('.place-btn').click(function(e) {
        e.preventDefault();
        document.getElementById('PlaceOrderbtn').innerHTML = `Placing Order <span><img src="{% static 'order\spinner.gif' %}" width="11%"  style="padding-left: 5px;" alt="Spineer"></span>`;
        //     $.ajax({
        //         async: false,
        //         type: 'POST',
        //         url: '/PlaceOrder/',
        //         data: {
        //             firstname: $('input[name=firstname]'),
        //             lastname: $('input[name=lastname]'),
        //             country: $('input[name=country]'),
        //             street: $('input[name=street]'),
        //             street2: $('input[name=street2]'),
        //             city: $('input[name=city]'),
        //             email: $('input[name=email]'),
        //             phone: $('input[name=phone]'),
        //         },
        //         encode: true,
        //         success: function(data) {
        //             document.getElementById('PlaceOrderbtn').innerHTML = 'Order Placed';
        //         }
        //     })
        // })
    })

    function loadOrder(cart) {
        let str = '<li>Product <span>Total</span></li>';
        let without_discount = 0;
        var total = 0.0;
        for (let i in cart) {
            if (cart[i][5] >= 1) {
                total += (cart[i][2] * cart[i][0]) - (cart[i][5] / 100) * (cart[i][2] * cart[i][0])
                str += `<li class="fw-normal">${cart[i][1]} x ${cart[i][0]} <span id=dic${i}>${((cart[i][2] * cart[i][0]) - (cart[i][5]/100) * (cart[i][2] * cart[i][0])).toFixed(2)}$</span><span><b style='color:green'>${cart[i][5]}% OFF</b> :</span> </li>`
            } else {
                total += (cart[i][0] * cart[i][2])
                str += `<li class="fw-normal">${cart[i][1]} x ${cart[i][0]} <span id='dic${i}'>$${cart[i][0] * cart[i][2]}$</span></li>`
            }
            without_discount += (cart[i][0] * cart[i][2]);
        }
        str += `<li class="fw-normal">Acctual Pricse <span>${without_discount.toFixed(2)}$</span></li>
                <li class="total-price">Total <span id='total' >${total.toFixed(2)}$</span></li>`
        document.getElementById('order').innerHTML = str;

    }
</script>
{% endblock %}