{% extends 'basic.html' %} {% block body %}

<body>
    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="cart-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th class="p-name">Product Name</th>
                                    <th>Price</th>
                                    <th>Coupen pricse</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th><i class="ti-close"></i></th>
                                </tr>
                            </thead>
                            <tbody id='loadcart'>


                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="cart-buttons">
                                <a href="#" class="primary-btn continue-shop">Continue shopping</a>
                                <a href="#" class="primary-btn up-cart">Update cart</a>
                            </div>
                            <div class="discount-coupon">
                                <h6>Discount Codes</h6>
                                <form id='HandleCoupon' class="coupon-form">
                                    {% csrf_token %}
                                    <input type="text" name='coupen' placeholder="Enter your codes">
                                    <button type="submit" class="site-btn coupon-btn">Apply</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-4 offset-lg-4">
                            <div class="proceed-checkout">
                                <ul>
                                    <li class="subtotal">Subtotal <span id='subtotal'>$0.00</span></li>
                                    <li class="cart-total">Total <span id='carttotal'>$0.00</span></li>
                                </ul>
                                <a href="/Checkout/" class="proceed-btn">PROCEED TO CHECK OUT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->
</body>
{% endblock %} {% block Js %}
<script>
    var cart = JSON.parse(localStorage.getItem('cart'))
    loadcart(cart);
    Total_Calculate();

    function Total_Calculate() {
        let total = 0;
        let subtotal = 0;

        for (let i in cart) {
            subtotal += cart[i][2] * cart[i][0];
            total += parseFloat(document.getElementById('pt' + i).innerHTML)
        }
        document.getElementById('subtotal').innerHTML = '$' + subtotal.toFixed(2);
        document.getElementById('carttotal').innerHTML = '$' + total.toFixed(2);
    }
    $('#HandleCoupon').click(function(e) {
        let coupen = $('input[name=coupen]').val();
        e.preventDefault();
        $.ajax({
            url: '/Shopcart/',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'coupen': coupen,
            },
            encode: true,
        }).done(function(data) {
            d = JSON.parse(data);
            cart = JSON.parse(localStorage.getItem('cart'))
            for (let crt in cart) {
                // console.log(ids[0] + ' TO ' + $.type(crt.slice(3))))
                for (let i = 0; i < d.length; i++) {
                    if (d[i]['id'] == crt.slice(3)) {
                        document.getElementById('dic' + crt).innerHTML = `<td class = "p-price first-row' id="dic${crt}"> ${d[i]['discount']}% </td>`
                        cart[crt][5] = d[i]['discount'];
                        localStorage.setItem('cart', JSON.stringify(cart));
                    }
                }
            }

        })
    })

    function loadcart(cart) {
        let str = ''
        for (var i in cart) {
            str += `  <tr>
                        <td class="cart-pic first-row"><img src="/media/${cart[i][3]}"  style="max-width: 150px;padding-right:10px" alt=""></td>
                        <td class="cart-title first-row">
                            <h5>${cart[i][1]}</h5>
                        </td>
                        <td class="p-price first-row">${cart[i][2]} $</td>
                        <td class="p-price first-row discount" id='dic${i}'>${cart[i][5]} %</td>
                        <td class="qua-col first-row">
                            <div >
                                <div class="pro-qty">
                                    <input type="number" min="1" max="999" style='width:100%' class='quantity' id='qty${i}' value="${cart[i][0]}">
                                </div>
                            </div>
                        </td>`
            if (cart[i][5] >= 1) {
                str += `<td class="total-price first-row" id=pt${i}>${((cart[i][2] * cart[i][0]) - (cart[i][5]/100) * (cart[i][2] * cart[i][0])).toFixed(2)} $</td>`
            } else {
                str += `<td class="total-price first-row" id=pt${i}>${(cart[i][2] * cart[i][0]).toFixed(2)} $</td>`
            }
            str += `<td class="close-td first-row"><i class="ti-close close-pdt" id='cls${i}'></i></td>
                    </tr>`
        }
        document.getElementById('loadcart').innerHTML = str;
        return str;
    }
    $('.close-td').on('click', '.close-pdt', function() {
        let id = this.id;
        delete cart[id.slice(3)];
        localStorage.setItem('cart', JSON.stringify(cart));
        loadcart(cart);
        window.location.reload();
    })

    $('.quantity').on('input', function(e) {
        let id = this.id.slice(3)
        let cart = JSON.parse(localStorage.getItem('cart'));
        cart[id][0] = this.value;
        let discount = parseInt(cart[id][5]);
        if (discount >= 1) {
            document.getElementById('pt' + id).innerHTML = ((cart[id][2] * cart[id][0]) - (cart[id][5] / 100) * (cart[id][2] * cart[id][0])).toFixed(2);
        } else {
            document.getElementById('pt' + id).innerHTML = (cart[id][2] * cart[id][0]).toFixed(1);
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        Total_Calculate();
    })
</script>
{% endblock %}

</html>